.ant-layout{
  font-size: 18px !important;
}

.header,
.content,
.footer {
  position: fixed;
  width: 100%;
}

.header {
  top: 0;
  color: #fff;
}

.content {
  top: 64px;
  bottom: 65px;
  overflow: hidden;
}

.footer {
  bottom: 0;
  height: 65px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}