.header,
.content,
.footer {
  position: fixed;
  width: 100%;

}

.header {
  top: 0;
}

.content {
  top: 64px;
  bottom: 65px;
  overflow: auto;
}

.footer {
  bottom: 0;
  height: 65px;
}

::-webkit-scrollbar {
  border-radius: 10%;
}